<h1>About this site</h1>
<div>
  <p>This is a website that is designed to make sharing files and links between your
    phone and your computer as low effort as possible. All you need to know to get started
    are these three key features:
  </p>
  <ul>
    <li>
      You can upload any kind of file
    </li>
    <li>
      All uploads are purged from the database after 12hrs or the database is full
    </li>
    <li>
      Posts are default set to private but can be made public and be made viewable to anybody who has an account
    </li>

  </ul>

</div>

